{
    "presets": ["@babel/preset-react",["@babel/env",{"useBuiltIns":"usage","targets":{
        "browsers": ["last 2 versions", "safari >= 7", "> 1%" ,"not dead"]    }}]],
    "plugins":[
        "@babel/transform-arrow-functions"
    ]
}